.request {
    margin-bottom: rem(78px);

    @media (max-width: $screen-sm-max) {
        padding-top: rem(30px);
        margin-bottom: rem(30px);
    }

    &__top-section {
        position: relative;
        max-width: 70%;
        float: left;

        @media (max-width: $screen-lg-max) {
            max-width: 75%;
        }

        @media (max-width: $screen-md-max) {
            max-width: 80%;
        }

        @media (max-width: $screen-sm-max) {
            float: none;
            max-width: 100%;
        }
    }

    &__description {
        background: $secondary-action-color;
        padding: rem(14px) rem(36px) rem(14px) rem(16px);
        border-radius: 4px;

        font-size: rem(15px);
        font-weight: $medium-font-weight;

        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

        @media (max-width: $screen-sm-max) {
            padding-right: rem(16px);
            padding-top: rem(26px);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__title {
        margin: 0 0 0 rem(-20px);
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(60px);
        min-width: rem(175px);
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
        background: #ffffff;
        border-radius: 4px;
        font-weight: $medium-font-weight;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);

        @media (max-width: $screen-sm-max) {
            bottom: 100%;
            margin: 0 0 rem(-20px);
            left: 50%;
            transform: translateX(-50%);
            top: inherit;
        }
    }

    &__form-section {
        flex: 1;
        width: 75%;
        display: flex;
        align-items: stretch;
        // background: $tertiary-action-color;
        border-radius: 4px;
        float: right;
        box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
        background: rgb(0, 129, 207);
        background: linear-gradient(137deg, rgba(0, 129, 207, 1) 0%, rgba(212, 241, 252, 1) 100%);

        margin-top: rem(-36px);
        padding: rem(64px) rem(45px) rem(38px);

        @media (max-width: $screen-lg-max) {
            width: 85%;
        }

        @media (max-width: $screen-md-max) {
            width: 100%;
            float: none;
        }

        @media (max-width: $screen-sm-max) {
            margin-top: 0;
            display: block;
            padding: rem(25px) rem(30px);
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &__hint {
            display: flex;
            align-items: center;
            color: #ffffff;
            font-weight: $medium-font-weight;
            padding-right: rem(26px);

            @media (max-width: $screen-sm-max) {
                padding: 0;
                margin-bottom: rem(15px);
            }
        }

        &__picture {
            flex: 0 0 rem(285px);
            margin: 0;

            @media (max-width: $screen-sm-max) {
                margin-bottom: rem(15px);
            }
        }

        &__form {
            flex: 0 0 rem(240px);
            padding-left: rem(25px);
            height: auto;

            .contact-form {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__submit {
                    .button {
                        width: 100%;
                    }
                }
            }

            @media (max-width: $screen-sm-max) {
                padding-left: 0;
                height: rem(180px);
            }
        }
    }

    $this: &;

    &_style_reverse {
        #{$this}__top-section {
            float: right;
        }

        #{$this}__description {
            padding: rem(14px) rem(16px) rem(14px) rem(36px);

            @media (max-width: $screen-sm-max) {
                padding-left: rem(16px);
                padding-top: rem(26px);
            }
        }

        #{$this}__title {
            left: initial;
            right: 100%;
            margin: 0 rem(-20px) 0 0;

            @media (max-width: $screen-sm-max) {
                left: 50%;
                right: initial;
                margin: 0 0 rem(-20px);
            }
        }

        #{$this}__form-section {
            float: left;
        }
    }
}