.site-nav {
    margin-left: rem(25px);
    
    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
        margin: 0 rem(-10px);
        padding: 0;

        &__item {
            margin: 0 rem(10px);

            a {
                text-decoration: none;
                color: $base-color;
                padding: rem(8px) rem(12px);
                font-weight: $medium-font-weight;
                display: block;
                border-bottom: 2px solid $base-action-color;
            }
        }
    }
}