$base-color: #293845;
$base-action-color: #247868;
$secondary-action-color: #bac9d3;
$tertiary-action-color: #0081cf;
$base-input-focus-color: #66afe9;
$base-input-success-color: #3c763d;
$base-input-error-color: #a94442;
$base-font-family: "Ubuntu";
$base-font-size: 16px;
$light-font-weight: 300;
$base-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$base-line-height: 1.5;

$screen-sm-min: 768px;
$screen-sm-max: 767px;
$screen-md-min: 1024px;
$screen-md-max: 1023px;
$screen-lg-min: 1240px;
$screen-lg-max: 1239px;
